.carrousel {
  display: block;
  height: 415px;
  margin: auto auto 30px auto;
  position: relative;
  width: 100%;
}

.arrow {
  position: absolute;
  width: 45px;
  z-index: 1;
}
.arrow:hover {
  cursor: pointer;
}

.leftArrow {
  margin-left: 25px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.rightArrow {
  margin-right: 25px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carrouselImage {
  border-radius: 16px;
  height: 415px;
  object-fit: cover;
  display: none;
  width: 100%;
}
.carrouselImage.actif {
  display: block;
}

@media screen and (max-width: 1490px) {
  .carrousel {
    height: 300px;
    margin: auto auto 15px auto;
  }

  .arrow {
    width: 15px;
  }

  .leftArrow {
    margin-left: 5px;
  }
  .rightArrow {
    margin-right: 5px;
  }

  .carrouselImage {
    height: 255px;
  }
}
