.Error404 {
  text-align: center;
}

.Error404Title {
  color: #ff6060;
  font-size: 200px;
  font-weight: 800;
  margin: auto;
}

.Error404Description {
  color: #ff6060;
  display: block;
  font-size: 40px;
}

.linkTo.linkToError404 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background: none;
  color: inherit;
  border: none;
  text-decoration: underline;
  padding: 1vw;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: calc(17px + 0.390625vw);
  font-weight: 500;
  margin-top: 5vh;
  color: #ff6060;
}

@media screen and (max-width: 1490px) {
  .Error404Title {
    font-size: 96px;
  }

  .Error404Description {
    font-size: 18px;
  }
}
